@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    height: 100vh;
    background-color: rgb(138, 63, 63);
    /* overflow: hidden; */
}

#main-container {
    height: 100vh;
    padding: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    border-radius: 10px;
}

#heading {
    color: white;
}

.box {
    background-color: rgb(255, 201, 201);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0.5rem;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    width: 300px;
    line-height: 40px;
}

.box::placeholder {
    color: rgb(71, 71, 71);
}

.box:active {
    border: none;
}

#submit-box {
    text-align: center;
    font-weight: 300px;
    font-size: 15px;
    color: white;
    font-family: inherit;
    border: none;
    background-color: rgb(58, 173, 255);
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0.5rem;
    width: 300px;
    border-radius: 10px;
}

#submit-box:hover {
    background-color: rgb(35, 152, 236);
}

#submit-box:active {
    background-color: rgb(1, 110, 188);
}